@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}


:root  {
  --background: 183 0% 100%;
  --foreground: 183 0% 10%;
  --card: 183 0% 100%;
  --card-foreground: 183 0% 15%;
  --popover: 183 0% 100%;
  --popover-foreground: 183 95% 10%;
  --primary: 183 54% 46%;
  --primary-foreground: 0 0% 100%;
  --secondary: 183 10% 90%;
  --secondary-foreground: 0 0% 0%;
  --muted: 145 10% 95%;
  --muted-foreground: 183 0% 40%;
  --accent: 145 10% 90%;
  --accent-foreground: 183 0% 15%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 183 0% 100%;
  --border: 183 20% 82%;
  --input: 183 20% 50%;
  --ring: 183 54% 46%;
  --radius: 0.5rem;
}
.dark  {
  --background: 183 10% 10%;
  --foreground: 183 0% 100%;
  --card: 183 0% 10%;
  --card-foreground: 183 0% 100%;
  --popover: 183 10% 5%;
  --popover-foreground: 183 0% 100%;
  --primary: 183 54% 46%;
  --primary-foreground: 0 0% 100%;
  --secondary: 183 10% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 145 10% 25%;
  --muted-foreground: 183 0% 65%;
  --accent: 145 10% 25%;
  --accent-foreground: 183 0% 95%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 183 0% 100%;
  --border: 183 20% 50%;
  --input: 183 20% 50%;
  --ring: 183 54% 46%;
  --radius: 0.5rem;
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
