@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Lexend:wght@100..900&family=Lilita+One&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.chewy {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
}
:root  {
  --background: 183 0% 100%;
  --foreground: 183 0% 10%;
  --card: 183 0% 100%;
  --card-foreground: 183 0% 15%;
  --popover: 183 0% 100%;
  --popover-foreground: 183 95% 10%;
  --primary: 183 54% 46%;
  --primary-foreground: 0 0% 100%;
  --secondary: 183 10% 90%;
  --secondary-foreground: 0 0% 0%;
  --muted: 145 10% 95%;
  --muted-foreground: 183 0% 40%;
  --accent: 145 10% 90%;
  --accent-foreground: 183 0% 15%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 183 0% 100%;
  --border: 183 20% 82%;
  --input: 183 20% 50%;
  --ring: 183 54% 46%;
  --radius: 0.5rem;
}
.dark  {
  --background: 224 71.4% 4.1%;
  --foreground: 183 0% 100%;
  --card: 183 0% 10%;
  --card-foreground: 183 0% 100%;
  --popover: 183 10% 5%;
  --popover-foreground: 183 0% 100%;
  --primary: 183 54% 46%;
  --primary-foreground: 0 0% 100%;
  --secondary: 183 10% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 145 10% 25%;
  --muted-foreground: 183 0% 65%;
  --accent: 145 10% 25%;
  --accent-foreground: 183 0% 95%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 183 0% 100%;
  --border: 183 20% 50%;
  --input: 183 20% 50%;
  --ring: 183 54% 46%;
  --radius: 0.5rem;
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


::-webkit-scrollbar{
  width: 0px;
}

@keyframes glow {
  0% {
    filter: drop-shadow(0 0 15px rgba(59, 130, 246, 0.5));
  }
  50% {
    filter: drop-shadow(0 0 30px rgba(59, 130, 246, 0.8));
    
  }
  100% {
    filter: drop-shadow(0 0 15px rgba(59, 130, 246, 0.5));
  }
}


.genie-wrapper {
  position: relative;
  animation: glow  3s ease-in-out infinite;
  overflow: hidden;
}



.genie-image {
  position: relative;
  z-index: 1;
  mix-blend-mode: normal;
}

.floating {
  animation: floating 3s ease-in-out infinite;
}
@keyframes floating {
  0% {
    transform: translateY(0px);
    
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes glow {
  0% { filter: drop-shadow(0 0 15px rgba(59, 234, 246, 0.5)); }
  50% { filter: drop-shadow(0 0 30px #3beaf6cc); }
  100% { filter: drop-shadow(0 0 15px rgba(59, 218, 246, 0.5)); }
}

/* HTML: <div class="loader"></div> */
.loader {
  --c1:#673b14;
  --c2:#f8b13b;
  width: 40px;
  height: 80px;
  border-top: 4px solid var(--c1);
  border-bottom: 4px solid var(--c1);
  background: linear-gradient(90deg, var(--c1) 2px, var(--c2) 0 5px,var(--c1) 0) 50%/7px 8px no-repeat;
  display: grid;
  overflow: hidden;
  animation: l5-0 1.2s infinite linear;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  width: 75%;
  height: calc(50% - 4px);
  margin: 0 auto;
  border: 2px solid var(--c1);
  border-top: 0;
  box-sizing: content-box;
  border-radius: 0 0 40% 40%;
  -webkit-mask: 
    linear-gradient(#000 0 0) bottom/4px 2px no-repeat,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: destination-out;
          mask-composite: exclude;
  background: 
    linear-gradient(var(--d,0deg),var(--c2) 50%,#0000 0) bottom /100% 205%,
    linear-gradient(var(--c2) 0 0) center/0 100%;
  background-repeat: no-repeat;
  animation: inherit;
  animation-name: l5-1;
}
.loader::after {
  transform-origin: 50% calc(100% + 2px);
  transform: scaleY(-1);
  --s:3px;
  --d:180deg;
}
@keyframes l5-0 {
  80%  {transform: rotate(0)}
  100% {transform: rotate(0.5turn)}
}
@keyframes l5-1 {
  10%,70%  {background-size:100% 205%,var(--s,0) 100%}
  70%,100% {background-position: top,center}
}